:root {
  --red: rgba(255, 0, 80, 0.3);
  --green: #0aff15;
  --border-color: #50af4c88;
  --yellow: yellow;
  --blue: rgba(0, 30, 255, 0.6);
  --flush: #c92049;
  --font-mono: 'AcPlus IBM VGA 8x16', 'OCR-A', 'OCR A', Consolas, 'Courier New', monospace !important;
  --foreground: #00ff66;
  --background: #000c00;
  --hue: 0deg;
  --brightness: 100%;
  --saturation: 100%;
  --contrast: 104%;
}

/* Main window styles */
body.windows {
  border: none !important;
  position: relative;
  background-color: var(--background) !important;
}

body {
  height: 100vh;
}

.windows {
  font-family: var(--font-mono) !important;
}

.chromium {
  border: none !important;
  background-color: var(--background) !important;
  margin: auto;
}

body::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.main-container,
.notifications-center,
.notifications-list-container,
.monaco-hover,
.quick-input-widget,
.context-view.monaco-menu-container {
  filter: contrast(var(--contrast)) brightness(var(--brightness));
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  mix-blend-mode: color-dodge;
}

/* Welcome page */
.monaco-workbench
  .part.editor
  > .content
  .gettingStartedContainer
  .gettingStartedSlideCategories
  > .gettingStartedCategoriesContainer {
  max-width: 80%;
}

.context-view.monaco-menu-container,
.monaco-workbench .part > .content {
  font-size: 16px;
  letter-spacing: normal !important;
}

.monaco-pane-view .pane>.pane-header h3.title {
  font-size: 13px !important;
  font-weight: normal !important;
}

/* Popups and hover blocks */

.crt-size {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.no-click {
  pointer-events: none;
}

.monaco-workbench {
  font-size: 16px;
  letter-spacing: 0.4px;
}

.monaco-workbench .part.editor > .content .gettingStartedContainer h1 {
  font-family: var(--font-mono);
  font-size: clamp(32px, 10vw, 72px);
  line-height: 1;
  display: inline-block;
  z-index: 1;
  letter-spacing: 10px;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  /* filter: drop-shadow(0 1px 3px); */
}

.monaco-workbench .part.editor > .content .gettingStartedContainer h1:before,
.monaco-workbench .part.editor > .content .gettingStartedContainer h1:after {
  content: 'Visual Studio Code';
  position: absolute;
  width: 110%;
  z-index: -1;
}

.monaco-workbench .part.editor > .content .gettingStartedContainer h1:before {
  top: 10px;
  left: 15px;
  color: var(--red);
}

.monaco-workbench .part.editor > .content .gettingStartedContainer h1:after {
  top: 5px;
  left: -10px;
  color: var(--blue);
}

.main-container .split-view-container > div:nth-of-type(4) {
  background-color: var(--background) !important;
}

.window-appicon,
.window-title {
  display: none;
}

.monaco-workbench .activitybar > .content > .composite-bar {
  margin-bottom: 0 !important;
}

/* Button */
.monaco-text-button {
  transition: all 1.2s ease;
  box-shadow: 0 0 3px #80ffc000, 0 0 6px #4faf4c00;
  font-size: 14px;
}

.monaco-text-button:hover {
  background: var(--foreground) !important;
  box-shadow: 0 0 3px var(--foreground), 0 0 6px var(--foreground);
  color: var(--background) !important;
}

.notification-list-item-source {
  font-size: 14px;
}

.notification-list-item-main-row {
  font-size: 18px;
}

.activitybar {
  position: relative;
}

.activitybar .actions-container .action-item,
.activitybar .actions-container .action-item > svg {
  transition: all 220ms ease-in-out;
  filter: drop-shadow(0 0 6px var(--foreground));
}

.activitybar .actions-container .action-item .action-label::before, .codicon::before {
  text-shadow: 0 0 0 var(--foreground);
}

.statusbar .codicon::before {
  filter: drop-shadow(0 0 1px var(--foreground)) !important;
}

.activitybar .actions-container .action-item.checked,
.activitybar .actions-container .action-item:hover,
.activitybar .actions-container .action-item.checked .action-label,
.activitybar .actions-container .action-item:hover .action-label {
  background: var(--foreground) !important;
  animation: blink2 3s linear forwards;
  box-shadow: 0 0 3px var(--foreground), 0 0 6px var(--foreground) !important;
  color: var(--background) !important;
}
.activitybar .actions-container .action-item:hover .badge-content,
.activitybar .actions-container .action-item.checked .badge-content {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}

.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item.active
  .action-label:not(.codicon),
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item:focus
  .action-label:not(.codicon),
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item:hover
  .action-label:not(.codicon) {
  background: #282828 !important;
}

.activitybar .actions-container .action-item .action-label {
  transition: color 1s ease;
}

.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item:hover
  .action-label.codicon,
.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item.checked
  .action-label.codicon {
  color: #282828 !important;
}

.activitybar.right {
  overflow: initial;
}

.activitybar.right:after {
  content: '';
  background-color: #282828;
  width: 52px;
  position: absolute;
  left: 0;
  height: 100%;
}

/* Notification */

.notifications-center {
  box-shadow: none !important;
}

.monaco-workbench > .notifications-toasts {
  right: 48px;
  bottom: 52px;
}

.menubar {
  font-size: 14px;
  margin-left: 18px;
}

/* Quick input widget (command palette)  */
.quick-input-widget {
  border: 1px solid var(--foreground);
  box-shadow: none !important;
  z-index: 10000;
}

/* Statusbar */
.statusbar {
  padding: 0 16px;
  z-index: 10;
  font-size: 14px;
}

.statusbar > .items-container {
  height: 24px !important;
}

.monaco-icon-label:before {
  padding-right: 8px !important;
  width: 18px !important;
}

/* Window controls */
.monaco-workbench .part.titlebar > .window-controls-container {
  width: auto;
  margin-right: 16px !important;
}

.monaco-workbench .part.titlebar > .window-controls-container .window-icon {
  font-family: var(--font-mono);
  font-size: 16px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 3px transparent, 0 0 12px transparent;
  transition: all 1s ease;
  padding: 0 8px;
}

.monaco-workbench .part.titlebar > .window-controls-container > .window-icon:hover {
  animation: blink2 2s alternate infinite;
  background-color: transparent !important;
  text-shadow: 0 0 3px var(--foreground), 0 0 12px var(--foreground);
}

.monaco-list-row {
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  transition: textShadow 1s ease, background 1s ease;
}

.monaco-list-row > * {
  transition: textShadow 1s ease, background 1s ease;
}

.monaco-workbench .monaco-list .monaco-list-row .monaco-highlighted-label .highlight, .monaco-workbench .monaco-list .monaco-list-row.focused .monaco-highlighted-label .highlight {
  color: inherit !important;
  font-weight: bold !important;
  text-decoration: underline;
}

.settings-editor
  > .settings-body
  > .settings-tree-container
  .monaco-list:focus-within
  .monaco-list-row.focused
  .setting-item-contents {
  border: none !important;
}

.settings-tree-container .setting-item-contents .setting-item-description,
.settings-tree-container .setting-item-contents .setting-item-label,
.settings-tree-container .setting-item-contents .setting-item-category,
.settings-tree-container
  .monaco-list:focus-within
  .monaco-list-row.focused
  .settings-group-title-label {
  text-shadow: none !important;
}

.settings-tree-container .monaco-list-row.focused.selected {
  background-color: transparent !important;
}

.settings-editor > .settings-body > .settings-tree-container .monaco-list-row.focused.selected {
  color: var(--foreground);
  box-shadow: none !important;
}

.settings-tree-container .monaco-list-row.focused.selected .monaco-icon-label:before,
.settings-tree-container .monaco-list-row.focused.selected .monaco-icon-label:after {
  color: var(--background) !important;
}

/* Pop ups and modals */
.monaco-hover,
.quick-input-widget {
  animation: border-flicker 1s linear forwards;
}

/* Setting item labels and text */
.monaco-list .monaco-list-row.focused::before,
.monaco-list .monaco-list-row.focused::after,
.settings-editor > .settings-body > .settings-tree-container .monaco-list-row::before,
.settings-editor > .settings-body > .settings-tree-container .monaco-list-row::after {
  display: none !important;
}

.settings-editor > .settings-body > .settings-tree-container .monaco-list-row {
  color: var(--foreground);
}

.monaco-list-row.focused.selected {
  color: var(--background) !important;
  font-weight: bold;
  background-color: var(--foreground) !important;
  box-shadow: 0 0 3px var(--foreground), 0 0 12px var(--foreground);
}

.monaco-list-row.focused.selected .monaco-icon-label {
  color: var(--background) !important;
}

.monaco-list-row.focused.selected .label-name,
.monaco-list-row.focused.selected .action-label {
  color: var(--background) !important;
}

.monaco-list-row.focused.selected:before,
.monaco-list-row.focused.selected:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: var(--foreground);
  position: absolute;
}

.monaco-list-row.focused.selected:before {
  top: 0;
}

.monaco-list-row.focused.selected:after {
  bottom: 0;
}

.codicon-chrome-minimize:before {
  content: 'min' !important;
}

.codicon-chrome-maximize:before {
  content: 'max' !important;
}

.codicon-chrome-restore:before {
  content: 'res' !important;
}

.codicon-chrome-close:before {
  content: 'close' !important;
}

.monaco-workbench .part.titlebar > .window-controls-container > .window-icon.window-close:hover {
  background-color: #ff2222 !important;
}

.monaco-workbench .activitybar > .content {
  justify-content: center !important;
}

.monaco-action-bar.vertical .actions-container {
  margin-bottom: 0 !important;
}

/* Sidebar */
/* Lists */

.monaco-workbench .part > .title > .title-label h2 {
  font-size: 16px;
  color: var(--foreground) !important;
  font-family: var(--font-mono);
  text-shadow: 0 0 1px var(--foreground), 0 0 6px var(--foreground);
}

/* Editor */

/* Current line number */
.line-numbers {
  font-family: var(--font-mono) !important;
  font-size: 18px !important;
  text-shadow: 0 0 3px transparent, 0 0 12px transparent;
  transition: all 1s ease;
}

.line-number > * {
  transition: all 1s ease;
}

.monaco-editor .line-numbers.active-line-number {
  color: var(--foreground) !important;
  text-shadow: 0 0 3px var(--foreground), 0 0 12px var(--foreground);
  /* animation: lineNumberGlow 300ms forwards;
  animation-delay: 80ms; */
}

.monaco-editor .find-widget .monaco-findInput .input {
  font-size: 16px !important;
}

.monaco-editor .find-widget .codicon::before {
  text-shadow: 0 0 0 var(--foreground);
  filter: drop-shadow(0 0 1px var(--foreground));
}

.activitybar.left.bordered:before {
  border-right-style: dashed !important;
}

.activitybar.right.bordered:before {
  border-left-style: dashed !important;
}

.activitybar > .content :not(.monaco-menu) > .monaco-action-bar .badge .badge-content {
  box-shadow: 0 0 1px var(--foreground), 0 0 4px var(--foreground);
  border-radius: 0 !important;
}

.status-border-top:after {
}

/* Tabs */
.tabs-border-bottom:after,
.title-border-bottom:after {
  border-bottom: 1px dashed var(--tabs-border-bottom-color);
  background: none !important;
}

.tab-border-top-container,
.tab-border-bottom-container {
  display: none !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab
  .tab-label
  a {
  font-family: var(--font-mono);
  font-size: 18px;
}

.tab .monaco-icon-label:before,
.tab .monaco-icon-label:after,
.tab .label-description {
  color: var(--foreground) !important;
}

.editor-group-container.inactive > .title .tabs-container > .tab {
  transition: all 1s ease;
}

/* Tab group is inacive, set the label color */
.editor-group-container.inactive > .title .tabs-container > .tab a {
  color: var(--foreground) !important;
}

/* Tab group is active */
.editor-group-container.active > .title .tabs-container > .tab .label-description {
  color: var(--foreground) !important;
}

/* Active tab group AND active tab, change background */
.editor-group-container.active > .title .tabs-container > .tab.active {
  border: none !important;
  background-color: var(--foreground) !important;
  box-shadow: 0 0 3px var(--foreground), 0 0 12px var(--foreground);
}

/* Tab group AND tab item are active, set label and icon colors */
.editor-group-container.active > .title .tabs-container > .tab.active a,
.editor-group-container.active > .title .tabs-container > .tab.active .monaco-icon-label:before,
.editor-group-container.active > .title .tabs-container > .tab.active .monaco-icon-label:after,
.editor-group-container.active > .title .tabs-container > .tab.active .label-description {
  color: var(--background) !important;
}

/* Tab group AND tab item are active AND hover, set background */
.editor-group-container.active > .title .tabs-container > .tab:hover.active {
  background-color: var(--background) !important;
}

/* Tab group is active and tab item is inactive WHEN hover, set label and icon colors */
.editor-group-container.active > .title .tabs-container > .tab:hover a,
.editor-group-container.active > .title .tabs-container > .tab:hover .label-description,
.editor-group-container.active > .title .tabs-container > .tab:hover .monaco-icon-label:before,
.editor-group-container.active > .title .tabs-container > .tab:hover .monaco-icon-label:after {
  color: var(--foreground) !important;
}

/* Tab group AND tab item are active AND hover, set label and icon foreground */
.editor-group-container.active > .title .tabs-container > .tab.active:hover a,
.editor-group-container.active > .title .tabs-container > .tab.active:hover .label-description,
.editor-group-container.active
  > .title
  .tabs-container
  > .tab.active:hover
  .monaco-icon-label:before,
.editor-group-container.active
  > .title
  .tabs-container
  > .tab.active:hover
  .monaco-icon-label:after {
  color: var(--foreground) !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title
  .tabs-container
  > .tab.active,
.monaco-workbench
  .notifications-list-container
  .notification-list-item
  .notification-list-item-message
  span {
  /* animation: textShadow 1.6s infinite;
  will-change: textShadow; */
}

.monaco-workbench .notifications-center .codicon.codicon-warning,
.monaco-workbench .notifications-toasts .codicon.codicon-warning {
  color: var(--flush);
  animation-name: blink;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.codicon-notifications-clear {
  transition: color 180ms ease-in-out;
}

.codicon-notifications-clear:hover {
  color: var(--flush);
  background-color: transparent !important;
}

.monaco-workbench
  .activitybar
  > .content
  :not(.monaco-menu)
  > .monaco-action-bar
  .action-item:hover
  .action-label.codicon,
.monaco-list .monaco-list-row.selected,
.monaco-list.list_id_1:not(.drop-target) .monaco-list-row:hover:not(.selected):not(.focused) {
  /* animation: textShadow 1.6s infinite; */
  /* background-color: rgba(80, 175, 76, 0.2); */
  box-shadow: 0 0 3px rgba(0, 255, 102, 0.53), 0 0 12px rgba(0, 255, 102, 0.53);
}

.monaco-editor .cursors-layer .cursor {
  box-shadow: 0 0 1px var(--foreground), 0 0 6px var(--foreground);
  filter: drop-shadow(0 0 0 var(--foreground));
}

/* Dropdowns */
.monaco-select-box-dropdown-container
  > .select-box-dropdown-list-container
  .monaco-list
  .monaco-list-row.focused {
  box-shadow: none !important;
  color: var(--background) !important;
  background-color: var(--foreground) !important;
}

/* Helper classes and animations */

.product-name {
  position: relative;
  animation: paths 5s step-end infinite;
}

.product-name::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 8s step-end infinite,
    movement 10s step-end infinite;
}

.product-name::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite, font 7s step-end infinite,
    movement 8s step-end infinite;
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes lineNumberGlow {
  0% {
    text-shadow: 0 0 3px #4faf4c00, 0 0 24px #4faf4c00;
  }
  20% {
    text-shadow: 0 0 3px rgba(79, 175, 76, 0.2), 0 0 24px rgba(79, 175, 76, 0.2);
  }
  40% {
    text-shadow: 0 0 3px rgba(79, 175, 76, 0.4), 0 0 24px rgba(79, 175, 76, 0.4);
  }
  60% {
    text-shadow: 0 0 3px rgba(79, 175, 76, 0.6), 0 0 24px rgba(79, 175, 76, 0.6);
  }
  80% {
    text-shadow: 0 0 3px rgba(79, 175, 76, 0.8), 0 0 24px rgba(79, 175, 76, 0.8);
  }
  100% {
    text-shadow: 0 0 3px var(--foreground), 0 0 24px var(--foreground);
  }
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: var(--red);
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: var(--blue);
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: var(--red);
    filter: blur(6px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink2 {
  0% {
    opacity: 1;
  }
  0.5% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  1.5% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  2.5% {
    opacity: 0;
  }
  3% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }
  10.5% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  11.5% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }
  25.5% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  26.5% {
    opacity: 0;
  }
  27% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes border-flicker {
  2% {
    border: 1px solid var(--foreground);
  }
  3% {
    border: 1px solid transparent;
    box-shadow: none;
  }
  5% {
    border: 1px solid var(--foreground);
  }
  6% {
    border: 1px solid transparent;

    box-shadow: none;
  }
  7% {
    border: 1px solid var(--foreground);
  }
  9% {
    border: 1px solid transparent;
    box-shadow: none;
  }
  13% {
    border: 1px solid var(--foreground);
  }
  16% {
    border: 1px solid transparent;

    box-shadow: none;
  }
  54% {
    border: 1px solid var(--foreground);
  }
  100% {
    border: 1px solid var(--foreground);
  }
}
